app = 'lecture-ai'
primary_region = 'iad'

[build]
  [build.args]
    VITE_GOOGLE_CLIENT_ID = "661822990201-mouqpcbpmnil186ns7tkosv4scgdvcd8.apps.googleusercontent.com"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[env]
  ENV = 'production'
